{% extends '_base.html' %}

{% block content %}
    <div class="container-fluid d-flex justify-content-center align-items-center min-vh-100">
    <div class="card" style="width: 100%; margin: auto;">
        <div class="card-body" style="max-height: 1000px; overflow-y: auto;">
            <div style="text-align: center;"><h1 class="card-title">Pedidos pendentes</h1></div>
            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Total (R$)</th>
                        <th>Data</th>
                        <th>Status</th>
                        <th>Descrição do Pedido</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pedido in pedidos %}
                        <tr>
                            <td>{{ pedido.cliente_nome }}</td>
                            <td>{{ pedido.total }}</td>
                            <td>{{ pedido.data }}</td>
                            <td>{% if not pedido.concluido %}
                                Não concluído
                            {% endif %}</td>
                            <td>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Produto</th>
                                            <th>Quantidade</th>
                                            <th>Preço unitário</th>
                                            <th>Imagem</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in pedido.itempedido_set.all %}
                                            <tr>
                                                <td>{{ item.produto.nome }}</td>
                                                <td>{{ item.quantidade }}</td>
                                                <td>{{ item.produto.preco }}</td>
                                                <td><img src="{{ item.produto.imagem.url }}" width="50px" alt=""></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
    <script>
    setInterval(function() {
        location.reload();
    }, 5000);
</script>
{% endblock %}