{% include "_base.html" %}

{% load widget_tweaks %}

{% block content %}

    <div class="container">
    <div class="row">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">

    <div class="card-body">
    <div style="text-align: center;"><h5 class="card-title">Cadastro de Produtos</h5></div>
        <div style="text-align: center;">  <p class="card-text">Complete o formulário abaixo para cadastrar um novo <code>Produto</code>.</p></div>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <div style="text-align: center;"><button type="submit">Adicionar Produto</button></div>
</form>

    </div>
    </div>
    </div>
    </div>
    </div>

{% endblock content %}