{% extends '_base.html' %}
{% block title %}Listagem de produtos{% endblock %}

{% block content %}
<table>
    <tbody>
    {% for produto in produtos %}
        <tr>
        <td>{{  produto.nome }}</td>
        <td> {{ produto.preco }}</td>
        <td> {{  produto.descricao }}</td>
        <td> {{  produto.quantidade }}</td>
        <td> {{  produto.disponibilidade }}</td>
            <td><img src="{{ produto.imagem }}" alt="Imagem do produto"></td>
        </tr>
    {%  endfor %}
    </tbody>
</table>
{% endblock %}